/* Свойство filter позволяет применять к элементу графические эффекты, как размытие и смещение цвета. */

.dropshadow {
	filter: drop-shadow(5px 9px 2px blue); /* создает эффект тени */
	filter: grayscale(100%); /* преобразут фото в черно-белое */
	filter: sepia(100%); /* преобразует фото в сепию */
}

.saturate {
	filter: saturate(50%); /* управляем насыщеностью цвета изображения */
}

.picture {
	filter: hue-rotate(180deg); /* поворот оттенка на основе ЦВЕТОВОГО КРУГА. Если фото содержит красный и мы повернём его на 240 градусов то получим синий цвет. */
}

.picture1 {
	filter: invert(20%); /* инвертирует цвета так, что темные области стали яркими, а яркие - темными. */
}

.picture2 {
	filter: opacity(70%); /* задаём непрозрачность изображения. 0% - полностью прозрачное, 100% - исходное */
	filter: brightness(120%); /* яркость изображения. меньше 100% - затемняет, Больше 100% - осветляет */
}

.picture3 {
	filter: contrast(140%); /* регулируем контрасность. меньше 100% - уменьшаем контраст, Больше 100% - увеличиваем его */
}

.picture4 {
	filter: blur(3px); /* эффект размытия. Параметр определяет сколько пикселей на экране будут смешиваться друг с другом. */
}

/* Можно использовать эффекты вместе разделяя их пробелом. 
filter: blur(3px) contrast(140%); */